<div class="modal fade"
     [ngClass]="{ 'show': show }"
     [style.display]="show ? 'block' : 'none'"
     style="background-color: rgba(0,0,0,0.5);"
     tabindex="-1"
     (click)="onClose()">
  <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Location</h5>
        <button type="button" class="btn-close" (click)="onClose()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form>
            <div class="row mb-3">
              <div class="col">
                <label for="locationName" class="form-label">Location Name</label>
                <input type="text" id="locationName" name="locationName" [(ngModel)]="locationObj.locationName" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="pincode" class="form-label">Pincode</label>
                <input type="text" id="pincode" name="pincode" [(ngModel)]="locationObj.pincode" class="form-control">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="addLocation()" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>
