<div class="container">
  @if (role == 'User')
   {
     <div class="row">
    <div class="col">
      <app-upcomming-booking></app-upcomming-booking>
    </div>
  </div>
  <div class="row mt-3">
     <div class="col-lg-6">
      <app-vehicle></app-vehicle>
    </div>
    <div class="col-lg-6">
      <app-service-center></app-service-center>
    </div>
  </div>
   }@else if ( role == 'ServiceCenter' ){
    <div class="row">
      <div class="col">
        hey
      </div>
    </div>
   }@else {
     <div class="row">
      <div class="col">
        hey
      </div>
    </div>
   }
</div>