<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="container">
        <div class="card">
            <div class="card-header bg-warning text-center">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="login()" >
                    <div class="row mb-3 p-2">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" formControlName="Username" class="form-control">
                    </div>
                    <div class="row mb-3 p-2">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" formControlName="Password" class="form-control">
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success px-5">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>