<div class="card mb-3" style="max-width: 540px;" *ngIf="vehicles.length > 0">
    <div class="row g-0">
        <div class="col-md-8" *ngFor="let vehicle of vehicles">
            <div class="card-body">
                <h5 class="card-title mb-2">Registration Number: {{ vehicle.registrationNumber }}</h5>
                <p class="card-text mb-1"><strong>Make:</strong> {{ vehicle.make }}</p>
                <p class="card-text mb-1"><strong>Model:</strong> {{ vehicle.model }}</p>
                <p class="card-text mb-1"><strong>Year:</strong> {{ vehicle.year }}</p>
                <p class="card-text mb-1"><strong>Year:</strong> {{ vehicle.ownerName }}</p>
                <button class="btn btn-primary btn-sm">Book Service</button>
            </div>
        </div>
    </div>
</div>