<div class="d-flex flex-column align-items-center">
    <div class="btn-group mt-4" role="group" aria-label="Signup type">
        <button type="button" class="btn btn-outline-success">
            Signup as User
        </button>
        <button type="button" class="btn btn-outline-primary">
            Signup as Service Center
        </button>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <app-signup-page></app-signup-page>
        </div>
    </div>
</div>