<div class="d-flex flex-column align-items-center">
    <div class="btn-group mt-4" role="group" aria-label="Signup type">
        <button type="button" (click)="setRole('User')" [class.active]="role == 'User'" class="btn btn-outline-primary">
            Signup as User
        </button>
        <button type="button" (click)="setRole('ServiceCenter')"  [class.active]="role == 'ServiceCenter' " class="btn btn-outline-primary">
            Signup as Service Center
        </button>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <app-signup-page [role]="role" ></app-signup-page>
        </div>
    </div>
</div>